#home_hero 
  background-color: #f2f2f2

#clinic_hero
  background-color: #f9f9f9

#clinic_hero
  .hero-body
    padding: 1rem 1.5rem
  .column.left
    background-image: url("../img/hero_placeholder.png")
    background-size: cover
    display: flex
    align-self: stretch
    align-items: center