// @import "~bulma/sass/utilities/initial-variables"

// sw_logo
#sw_logo
  max-height: 70px
  width: 70px

#navbar
  padding-left: 2.3rem
  background-color: #f2f2f2
  height: 100%

// @import "~bulma"
  

